@media screen and (max-width: 1000px) {
    .container{
        gap: 5px;
    }
    .table{
        min-width: 175px;
        height: 500px;
        margin-right: 0px;
    }
    .container_caixa_top1{
        font-size: 26px;
        border-radius: 20px;
    }
    .container_caixa_top2, .container_caixa_top3, .container_caixa_top4{
        border-radius: 20px;
    }
    .container_caixa_bottom2, .container_caixa_bottom3, .container_caixa_bottom4{
        border-radius: 14px;
    }
    .description{
        border-radius: 15px;
        height: 48px;
    }
    .bola{
        font-size: 20px;
        width: 35px;
        height: 35px;
        margin: 0 5px;
    }
    .text{
        font-size: 10px;
        font-weight: 800;
    }
    .content{
        height: 500px;
        width: 333px;
        position: absolute;
        column-gap: 8px;
        transition: 1s;
        transform: translateX(108%);
        right: 100%;
    }
    .bandeira{
        font-size: 14px;
    }
    .valor{
        font-size:41px;
    }
    .valor_description {
        font-size: 9px;
    }
    .price1{
        font-size: 22px;
    }
    .price1-cor{
        font-size: 22px;
    }
    .bola-ok{
        width: 20px;
        height: 20px;
    }
    .c-hidden{
        width: 348px;
        height: 540px;
        overflow: hidden;
        position: relative;

    }
}
@media screen and (max-width: 573px){
    .navigation{
        width: 100%;
        height: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(252, 252, 252);
        border-radius: 0 0 15px 15px;
    }

    .btn1{
        width: 10px;
        height: 10px;
        border: 2px solid rgba(83, 29, 158, 0.459);
        border-radius: 50%;
        margin: 0px 4px;
    }

    .c-hidden{
        border: 1px solid rgb(252, 252, 252);
    }
    .sombra-r{
        width: 15px;
        height: 100%;
        background-image: linear-gradient(to left, rgb(61, 61, 61), rgba(0, 0, 0, 0));
        position: absolute;
        right: 0;
    }
    .sombra-l{
        display: none;
        width: 15px;
        height: 100%;
        background-image: linear-gradient(to right, rgb(61, 61, 61), rgba(0, 0, 0, 0));
        position: absolute;
        left: 0;
        z-index: 1;
        transition: 1s;
    }
}